.hero {
    height: 90vh;
    background: url('src/assets/manicure.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

.modura {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    opacity: 0.8;
    z-index: 0;
}

.hero-content h2 {
    font-size: 2.8rem;
    color: #d63384;
    font-weight: 700;
    z-index: 1000;
}

.hero-content p {
    font-size: 1.3rem;
    margin: 10px 0 20px;
}



.hero-content a {
    text-decoration: none;
}

.hero-btn {
    padding: 12px 24px;
    font-size: 1.1rem;
    z-index: 1000;
    position: absolute;
    top: 52vh;
    left: 45vw;
}

@media (max-width: 768px) {
    .hero {
        height: 90vh;
        background: url('src/assets/banner-mobile.webp') center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        position: relative;
    }
}